#contact-us {
    background-image: url(../img/map-image.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #212529;
    text-align: center;
    .contact-us {
        margin-top: 20px;
    }
    h2 {
        padding-bottom: 59px;
        opacity: 0;
    }
    ::placeholder {
        font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
        padding: 10px;
        opacity: 0.6;
    }
    form {
        opacity: 0;
    }
    input {
        width: 40%;
        float: left;
        @include border-radius(10px);
        height: 40px;
        margin: 2px;
        margin-left: 10%;
        @media (max-width: 700px) {
            width: 100%;
            margin: 4px auto;
        }
    }
    textarea {
        width: 45%;
        @include border-radius(10px);
        height: 131px;
        @media (max-width: 700px) {
            width: 100%;
            margin-top: 4px;
        }
    }
    button {
        @include border-radius(10px);
        background-color: #fed136;
        padding: 20px 30px;
        border: none;
        color: white;
        font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 18px;
        cursor: pointer;
        margin: auto;
        margin-top: 43px;
    }
    .contact-us-animation {
        transform: translateY(-30px);
        opacity: 1;
        transition: 1.5s all;
        @media (max-width: 400px) {
            transition-delay: 1.2s;
        }
    }
    .contact-us-animation-button {
        animation: shake 0.8s;
        @media (max-width: 400px) {
            animation-delay: 1.2s;
        }
    }
    @keyframes shake {
        10% {
            transform: translate3d(0, -20px, 0);
        }
        20%,
        80% {
            transform: translate3d(0, 2px, 0);
        }
        30%,
        50%,
        70% {
            transform: translate3d(0, -4px, 0);
        }
        40%,
        60% {
            transform: translate3d(0, 4px, 0);
        }
    }
}
