footer {
    padding: 10px;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    p {
        margin-top: 12px;
    }
    .social-media {
        ul {
            @media (max-width: 973px) {
                margin: 10px 0;
            }
        }
        li {
            text-decoration: none;
            display: inline-block;
        }
        a {
            border-radius: 50%;
            background-color: #212529;
            color: white;
            margin: 0 10px;
            font-size: 20px;
            line-height: 40px;
            display: block;
            width: 40px;
            height: 40px;
        }
        a:hover {
            background-color: #fed136;
            transition: all 0.3s ease;
        }
    }
    .policy {
        margin-top: 12px;
        li {
            display: inline-block;
        }
        a {
            color: #fed136;
            margin-right: 15px;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
