.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}
h3 {
    font-size: 80px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    @media (max-width: 885px) {
        font-size: 40px;
    }
}
h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
    font-weight: 700;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 42px;
    margin-bottom: 15px;
    @media (max-width: 400px) {
        font-size: 36px;
    }
}
h4 {
    font-weight: 700;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 27px;
    padding: 20px;
    @media (max-width: 915px) {
        font-size: 20px;
    }
}
section {
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: 800px) {
        padding-top: 50px;
        padding-bottom: 0;
    }
}
.container {
    padding: 10px 74px;
    margin: auto;
    width: 100%;
    text-align: center;
    @media (max-width: 700px) {
        padding: 0;
    }
}
.text-muted {
    color: #868e96;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.text-muted-italic {
    font-style: italic;
    color: #868e96;
}
