.header {
    background-image: url(../img/ehud-neuhaus-191867-unsplash.jpg);
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-position:left;
    background-size: cover;
    height: 100vh;
    @media (max-width: 885px) {
        background-position: left;
        height: 300px;
    }
    &__text {
        padding-top: 213px;
        display: none;
        @media (max-width: 885px) {
            padding-top: 100px;
        }
        .line-1 {
            position: relative;
            top: 50%;
            margin: 0 auto;
            border-right: 2px solid #fed136;
            font-size: 40px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            transform: translateY(-50%);
        }
        /* Animation */
        .anim-typewriter {
            animation: typewriter 1s steps(22) 1s 1 normal both, blinkTextCursor 500ms steps(22) infinite normal;
        }
        @keyframes typewriter {
            from {
                width: 0;
            }
            to {
                width: 200px;
            }
        }
        @keyframes blinkTextCursor {
            from {
                border-right-color: #fed136;
            }
            to {
                border-right-color: transparent;
            }
        }
    }
}
