nav {
    background: transparent;
    #nav-menu {
        font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        position: fixed;
        padding: 45px 0;
        width: 100%;
        transition: 0.6s;
        @media (max-width: 950px) {
            display: none;
            z-index: 0;
        }
        li {
            display: inline-block;
            padding: 0 15px;
            float: right;
            color: white;
            cursor: pointer;
        }
        li:hover {
            color: #fed136;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .fixed {
        background: #212529;
        padding: 10px 0 !important;
        transition: padding 0.6s;
        z-index: 5;
    }
}
