.overlay-portfolio {
    background-color: #fed136;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s all;
    &:hover {
        opacity: 0.8;
            
    }
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
    }
}