#portfolio {
    background-color: rgba(128, 128, 128, 0.1);
     background: linear-gradient(rgba(128, 128, 128, 0.1),rgba(128, 128, 128, 0));
    .portfolio {
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: space-between;
        @media (max-width: 860px) {
            display: block;
            align-content: center;
            height: auto;
            margin-top: 26px;
        }
        &__wrapper {
            position: relative;
            width: 30%;
            height: 224px;
            margin: 10px;
            opacity: 0;
            @media (max-width: 860px) {
                width: 51%;
                margin: 15px auto;
            }
            @media (max-width: 500px) {
                    width: 95%;
            }
        }
        img {
            width: 100%;
            height: 100%
        }
        .portfolio-animated-left {
            opacity: 1;
            transform: translateX(55%);
            transition: 2s all;
            @media (max-width: 860px) {
                transform: translateY(-10px);
            }
        }
        .portfolio-animated-left:nth-child(2) {
            transition-delay: 1.5s;
        }
        .portfolio-animated-right {
            opacity: 1;
            transform: translateX(-55%);
            transition: 2s all;
            @media (max-width: 860px) {
                transform: translateY(-10px);
            }
        }
        .portfolio-animated-right:nth-child(4) {
            transition-delay: 1.5s;
        }
        .portfolio__wrapper:nth-child(1) {
            @media (max-width: 860px) {
                transition-delay: 1.3s!important;
            }
        }
        .portfolio__wrapper:nth-child(2) {
            @media (max-width: 860px) {
                transition-delay: 2s!important;
            }
        }
        .portfolio__wrapper:nth-child(3) {
            @media (max-width: 860px) {
                transition-delay: 2.5s!important;
            }
        }
        .portfolio__wrapper:nth-child(4) {
            @media (max-width: 860px) {
                transition-delay: 2.8s!important;
            }
        }
    }
}
