#services {
    text-align: center;
    .icon-services {
        position: relative;
        background-color: #fed136;
        @include border-radius(50%);
        margin: auto;
        width: 121px;
        height: 113px;
        margin-top: 100px;
        box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
        &:hover {
            border: black 2px solid;
            width: 135px;
            height: 125px;
        }
        &:hover i {
            color: black;
        }
    }
    .icon-wrapper {
        opacity: 0;
    }
    i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    p {
        line-height: 23px;
    }
    h4 {
        color: #212529;
    }
    .animation {
        opacity: 1;
        transform: translateY(-60px);
        transition: all 2s;
    }
    .services .icon-wrapper:nth-child(1) {
        transition-delay: 0.3s;

    }
    .services .icon-wrapper:nth-child(2) {
        transition-delay: 0.6s;
        @media (max-width: 400px) {
            transition-delay:1s;
        }
    }
    .services .icon-wrapper:nth-child(3) {
        transition-delay: 0.9s;
        @media (max-width: 400px) {
            transition-delay:1.5s;
        }
    }
}
