#toggle-menu-wrapper {
    z-index: 9999;
    @media (max-width: 1400px) {
        display: none;
    }
    @media (max-width: 950px) {
        display: block;
        background: #212529;
        position: fixed;
        width: 100%;
        height: 54px;
        top: 0px;
        right: 0px;
        transition: height 2s;
        overflow: hidden;
    }
    #toggle-button {
        position: relative;
        margin: 10px;
        float: right;
        text-align: center;
        width: 82px;
        height: 35px;
        background-color: #fed136;
        border-radius: 5%;
        cursor: pointer;
        z-index: 5;
        @media (max-width: 950px) {
            position: static;
            z-index: 10;
        }
    }
    .burger-button {
        width: 30%;
        float: left;
        padding: 11px 0;
    }
    .burger {
        width: 80%;
        height: 2px;
        background: black;
        display: block;
        margin: 2px auto;
        border-radius: 50px;
    }
    p {
        float: left;
        display: block;
        width: 60%;
        padding: 12px 7px;
        font-size: 13px;
    }
    #toggle-nav-menu {
        @media (max-width: 950px) {
            margin-top: 45px;
        }
        li {
            display: block;
            text-align: left;
            color: white;
            cursor: pointer;
            width: 100%;
            padding: 15px;
            padding-left: 40px;
            font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
            
            a {
                text-decoration: none;
                color: white;
                &:hover {
                    color: #fed136;
                }
            }
        }
    }
}
#toggle-menu-wrapper.active {
    -webkit-transition: height 4s;
    transition: height 2s;
    height: 230px;
}