@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url(grid12.css);
@import url(reset.css);
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

h3 {
  font-size: 80px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  @media (max-width: 885px) {
    h3 {
      font-size: 40px; } }

h1 {
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h2 {
  font-weight: 700;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 42px;
  margin-bottom: 15px; }
  @media (max-width: 400px) {
    h2 {
      font-size: 36px; } }

h4 {
  font-weight: 700;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 27px;
  padding: 20px; }
  @media (max-width: 915px) {
    h4 {
      font-size: 20px; } }

section {
  padding-top: 100px;
  padding-bottom: 100px; }
  @media (max-width: 800px) {
    section {
      padding-top: 50px;
      padding-bottom: 0; } }

.container {
  padding: 10px 74px;
  margin: auto;
  width: 100%;
  text-align: center; }
  @media (max-width: 700px) {
    .container {
      padding: 0; } }

.text-muted {
  color: #868e96;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.text-muted-italic {
  font-style: italic;
  color: #868e96; }

nav {
  background: transparent; }
  nav #nav-menu {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: fixed;
    padding: 45px 0;
    width: 100%;
    transition: 0.6s; }
    @media (max-width: 950px) {
      nav #nav-menu {
        display: none;
        z-index: 0; } }
    nav #nav-menu li {
      display: inline-block;
      padding: 0 15px;
      float: right;
      color: white;
      cursor: pointer; }
    nav #nav-menu li:hover {
      color: #fed136; }
    nav #nav-menu a {
      text-decoration: none;
      color: inherit; }
  nav .fixed {
    background: #212529;
    padding: 10px 0 !important;
    transition: padding 0.6s;
    z-index: 5; }

.header {
  background-image: url(../img/ehud-neuhaus-191867-unsplash.jpg);
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  height: 100vh; }
  @media (max-width: 885px) {
    .header {
      background-position: left;
      height: 300px; } }
  .header__text {
    padding-top: 213px;
    display: none;
    /* Animation */ }
    @media (max-width: 885px) {
      .header__text {
        padding-top: 100px; } }
    .header__text .line-1 {
      position: relative;
      top: 50%;
      margin: 0 auto;
      border-right: 2px solid #fed136;
      font-size: 40px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%); }
    .header__text .anim-typewriter {
      animation: typewriter 1s steps(22) 1s 1 normal both, blinkTextCursor 500ms steps(22) infinite normal; }
@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 200px; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: #fed136; }
  to {
    border-right-color: transparent; } }
#services {
  text-align: center; }
  #services .icon-services {
    position: relative;
    background-color: #fed136;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
    width: 121px;
    height: 113px;
    margin-top: 100px;
    box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19); }
    #services .icon-services:hover {
      border: black 2px solid;
      width: 135px;
      height: 125px; }
    #services .icon-services:hover i {
      color: black; }
  #services .icon-wrapper {
    opacity: 0; }
  #services i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  #services p {
    line-height: 23px; }
  #services h4 {
    color: #212529; }
  #services .animation {
    opacity: 1;
    transform: translateY(-60px);
    transition: all 2s; }
  #services .services .icon-wrapper:nth-child(1) {
    transition-delay: 0.3s; }
  #services .services .icon-wrapper:nth-child(2) {
    transition-delay: 0.6s; }
    @media (max-width: 400px) {
      #services .services .icon-wrapper:nth-child(2) {
        transition-delay: 1s; } }
  #services .services .icon-wrapper:nth-child(3) {
    transition-delay: 0.9s; }
    @media (max-width: 400px) {
      #services .services .icon-wrapper:nth-child(3) {
        transition-delay: 1.5s; } }

#portfolio {
  background-color: rgba(128, 128, 128, 0.1);
  background: linear-gradient(rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0)); }
  #portfolio .portfolio {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between; }
    @media (max-width: 860px) {
      #portfolio .portfolio {
        display: block;
        align-content: center;
        height: auto;
        margin-top: 26px; } }
    #portfolio .portfolio__wrapper {
      position: relative;
      width: 30%;
      height: 224px;
      margin: 10px;
      opacity: 0; }
      @media (max-width: 860px) {
        #portfolio .portfolio__wrapper {
          width: 51%;
          margin: 15px auto; } }
      @media (max-width: 500px) {
        #portfolio .portfolio__wrapper {
          width: 95%; } }
    #portfolio .portfolio img {
      width: 100%;
      height: 100%; }
    #portfolio .portfolio .portfolio-animated-left {
      opacity: 1;
      transform: translateX(55%);
      transition: 2s all; }
      @media (max-width: 860px) {
        #portfolio .portfolio .portfolio-animated-left {
          transform: translateY(-10px); } }
    #portfolio .portfolio .portfolio-animated-left:nth-child(2) {
      transition-delay: 1.5s; }
    #portfolio .portfolio .portfolio-animated-right {
      opacity: 1;
      transform: translateX(-55%);
      transition: 2s all; }
      @media (max-width: 860px) {
        #portfolio .portfolio .portfolio-animated-right {
          transform: translateY(-10px); } }
    #portfolio .portfolio .portfolio-animated-right:nth-child(4) {
      transition-delay: 1.5s; }
    @media (max-width: 860px) {
      #portfolio .portfolio .portfolio__wrapper:nth-child(1) {
        transition-delay: 1.3s !important; } }
    @media (max-width: 860px) {
      #portfolio .portfolio .portfolio__wrapper:nth-child(2) {
        transition-delay: 2s !important; } }
    @media (max-width: 860px) {
      #portfolio .portfolio .portfolio__wrapper:nth-child(3) {
        transition-delay: 2.5s !important; } }
    @media (max-width: 860px) {
      #portfolio .portfolio .portfolio__wrapper:nth-child(4) {
        transition-delay: 2.8s !important; } }

#about {
  height: 400px;
  text-align: center;
  background: linear-gradient(rgba(128, 128, 128, 0.1), rgba(128, 128, 128, 0)); }

#contact-us {
  background-image: url(../img/map-image.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #212529;
  text-align: center; }
  #contact-us .contact-us {
    margin-top: 20px; }
  #contact-us h2 {
    padding-bottom: 59px;
    opacity: 0; }
  #contact-us ::placeholder {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 10px;
    opacity: 0.6; }
  #contact-us form {
    opacity: 0; }
  #contact-us input {
    width: 40%;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    height: 40px;
    margin: 2px;
    margin-left: 10%; }
    @media (max-width: 700px) {
      #contact-us input {
        width: 100%;
        margin: 4px auto; } }
  #contact-us textarea {
    width: 45%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    height: 131px; }
    @media (max-width: 700px) {
      #contact-us textarea {
        width: 100%;
        margin-top: 4px; } }
  #contact-us button {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background-color: #fed136;
    padding: 20px 30px;
    border: none;
    color: white;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    margin-top: 43px; }
  #contact-us .contact-us-animation {
    transform: translateY(-30px);
    opacity: 1;
    transition: 1.5s all; }
    @media (max-width: 400px) {
      #contact-us .contact-us-animation {
        transition-delay: 1.2s; } }
  #contact-us .contact-us-animation-button {
    animation: shake 0.8s; }
    @media (max-width: 400px) {
      #contact-us .contact-us-animation-button {
        animation-delay: 1.2s; } }
@keyframes shake {
  10% {
    transform: translate3d(0, -20px, 0); }
  20%,
        80% {
    transform: translate3d(0, 2px, 0); }
  30%,
        50%,
        70% {
    transform: translate3d(0, -4px, 0); }
  40%,
        60% {
    transform: translate3d(0, 4px, 0); } }
footer {
  padding: 10px;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  footer p {
    margin-top: 12px; }
  @media (max-width: 973px) {
    footer .social-media ul {
      margin: 10px 0; } }
  footer .social-media li {
    text-decoration: none;
    display: inline-block; }
  footer .social-media a {
    border-radius: 50%;
    background-color: #212529;
    color: white;
    margin: 0 10px;
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px; }
  footer .social-media a:hover {
    background-color: #fed136;
    transition: all 0.3s ease; }
  footer .policy {
    margin-top: 12px; }
    footer .policy li {
      display: inline-block; }
    footer .policy a {
      color: #fed136;
      margin-right: 15px;
      cursor: pointer; }
      footer .policy a:hover {
        text-decoration: underline; }

#toggle-menu-wrapper {
  z-index: 9999; }
  @media (max-width: 1400px) {
    #toggle-menu-wrapper {
      display: none; } }
  @media (max-width: 950px) {
    #toggle-menu-wrapper {
      display: block;
      background: #212529;
      position: fixed;
      width: 100%;
      height: 54px;
      top: 0px;
      right: 0px;
      transition: height 2s;
      overflow: hidden; } }
  #toggle-menu-wrapper #toggle-button {
    position: relative;
    margin: 10px;
    float: right;
    text-align: center;
    width: 82px;
    height: 35px;
    background-color: #fed136;
    border-radius: 5%;
    cursor: pointer;
    z-index: 5; }
    @media (max-width: 950px) {
      #toggle-menu-wrapper #toggle-button {
        position: static;
        z-index: 10; } }
  #toggle-menu-wrapper .burger-button {
    width: 30%;
    float: left;
    padding: 11px 0; }
  #toggle-menu-wrapper .burger {
    width: 80%;
    height: 2px;
    background: black;
    display: block;
    margin: 2px auto;
    border-radius: 50px; }
  #toggle-menu-wrapper p {
    float: left;
    display: block;
    width: 60%;
    padding: 12px 7px;
    font-size: 13px; }
  @media (max-width: 950px) {
    #toggle-menu-wrapper #toggle-nav-menu {
      margin-top: 45px; } }
  #toggle-menu-wrapper #toggle-nav-menu li {
    display: block;
    text-align: left;
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    padding-left: 40px;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    #toggle-menu-wrapper #toggle-nav-menu li a {
      text-decoration: none;
      color: white; }
      #toggle-menu-wrapper #toggle-nav-menu li a:hover {
        color: #fed136; }

#toggle-menu-wrapper.active {
  -webkit-transition: height 4s;
  transition: height 2s;
  height: 230px; }

.overlay-portfolio {
  background-color: #fed136;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s all; }
  .overlay-portfolio:hover {
    opacity: 0.8; }
  .overlay-portfolio i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=style.css.map */
